html {
    font-family: "Hind", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: palevioletred
}

#introduction {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

header {
    background-color: rgb(131, 21, 52);
    text-align: center;
    margin: 0;
    padding: 1em 0;
    color: rgb(216, 194, 197);
}

.games {
    background-color: aliceblue;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px black;
}